################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CustomerClass/CustomerClass/bin/Debug
/CustomerClass/CustomerClass/obj/Debug
/CustomerClass/.vs/CustomerClass/v16/.suo
test/.vs/test/v16/.suo
test/.vs/test/v17/.suo
test/test3/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
test/test3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
test/test3/obj/Debug/test3.csproj.AssemblyReference.cache
test/test2/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
test/test2/obj/Debug/DesignTimeResolveAssemblyReferences.cache
test/test2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
test/test2/obj/Debug/test2.csproj.AssemblyReference.cache
test/.vs/test/project-colors.json
test/.vs/test/DesignTimeBuild/.dtbcache.v2
test/.vs/test/v17/.futdcache.v1
test/test/bin/Debug/net5.0/key.json
test/test/bin/Debug/net5.0/key.public.json
test/test/bin/Debug/net5.0/Microsoft.Win32.SystemEvents.dll
test/test/bin/Debug/net5.0/Newtonsoft.Json.dll
test/test/bin/Debug/net5.0/PrivateKey.xml
test/test/bin/Debug/net5.0/PublicKey.xml
test/test/bin/Debug/net5.0/QRCoder.dll
test/test/bin/Debug/net5.0/System.Drawing.Common.dll
test/test/bin/Debug/net5.0/test.deps.json
test/test/bin/Debug/net5.0/test.dll
test/test/bin/Debug/net5.0/test.exe
test/test/bin/Debug/net5.0/test.pdb
test/test/bin/Debug/net5.0/test.runtimeconfig.dev.json
test/test/bin/Debug/net5.0/test.runtimeconfig.json
test/test/bin/Debug/net5.0/ref/test.dll
test/test/bin/Debug/net5.0/runtimes/unix/lib/netcoreapp3.0/System.Drawing.Common.dll
test/test/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/Microsoft.Win32.SystemEvents.dll
test/test/bin/Debug/net5.0/runtimes/win/lib/netcoreapp3.0/System.Drawing.Common.dll
test/test/obj/project.assets.json
test/test/obj/project.nuget.cache
test/test/obj/test.csproj.nuget.dgspec.json
test/test/obj/test.csproj.nuget.g.props
test/test/obj/test.csproj.nuget.g.targets
test/test/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
test/test/obj/Debug/net5.0/apphost.exe
test/test/obj/Debug/net5.0/test.AssemblyInfo.cs
test/test/obj/Debug/net5.0/test.AssemblyInfoInputs.cache
test/test/obj/Debug/net5.0/test.assets.cache
test/test/obj/Debug/net5.0/test.csproj.AssemblyReference.cache
test/test/obj/Debug/net5.0/test.csproj.CoreCompileInputs.cache
test/test/obj/Debug/net5.0/test.csproj.FileListAbsolute.txt
test/test/obj/Debug/net5.0/test.dll
test/test/obj/Debug/net5.0/test.GeneratedMSBuildEditorConfig.editorconfig
test/test/obj/Debug/net5.0/test.genruntimeconfig.cache
test/test/obj/Debug/net5.0/test.pdb
test/test/obj/Debug/net5.0/ref/test.dll
