################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CustomerClass/CustomerClass/bin/Debug
/CustomerClass/CustomerClass/obj/Debug
/CustomerClass/.vs/CustomerClass/v16/.suo
