################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/CustomerClass/CustomerClass/bin/*
/CustomerClass/CustomerClass/obj/*
/CustomerClass/.vs/CustomerClass/v16/.suo
test/.vs/*
test/test3/obj/*
test/test2/obj/*
test/.vs/*
test/test/bin/*
test/test/obj/*
test/test/.vscode/*
/CustomerClass/RPA.UiPath.Classlib/bin/*
/CustomerClass/RPA.UiPath.Classlib/obj/*
.gitignore
/CustomerClass/packages
/CustomerClass/Test/bin*
/CustomerClass/Test/obj*
*.suo
test/test4/bin/*
test/test4/obj/*